$myOrange : #ff5c0f;
$myYellow : #ffff00;
$myWhite : #ffff;
$myGrey: rgba(24,26,32,0.87);

.navbar{
  background-color: $myOrange;
  ul{
    list-style: none;
    li{
      padding: 3px;
      display:inline-block;
      a{
        color: $myWhite;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}

.Precious{
  margin-top: 20px;
  text-align: center;
}

.item{
  margin-top: 50px;
}
@mixin ring($size,$color){
  border-radius : 50%;
  height: $size;
  width: $size;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 3px 3px 3px darken($color,20%);
}


.text {
  margin: 20px;
  text-align: center;
  display: inline-block;
}

.ring1 {
  @include ring(70px, $myOrange);
  border: 4px solid $myOrange;
}

.ring2 {
  @include ring(100px, $myYellow);
  border: 10px solid $myYellow;
}


@for $i from 1 through 6 {
  .ring3_#{$i} {
    @include ring($i * 15px, $myGrey);
    padding : $i*10px;
    margin-left : $i*-10px;
    border: $i *2px solid $myGrey;

  }
}




