.navbar {
    background-color: #ff5c0f;
}
.navbar ul {
    list-style: none;
}
.navbar ul li {
    padding: 3px;
    display: inline-block;
}
.navbar ul li a {
    color: #ffff;
}
.navbar ul li a:hover {
    text-decoration: underline;
}

.Precious {
    margin-top: 20px;
    text-align: center;
}

.item {
    margin-top: 50px;
}

.text {
    margin: 20px;
    text-align: center;
    display: inline-block;
}

.ring1 {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 3px 3px 3px #a83600;
    border: 4px solid #ff5c0f;
}

.ring2 {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 3px 3px 3px #999900;
    border: 10px solid #ffff00;
}

.ring3_1 {
    border-radius: 50%;
    height: 15px;
    width: 15px;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.87);
    padding: 10px;
    margin-left: -10px;
    border: 2px solid rgba(24, 26, 32, 0.87);
}

.ring3_2 {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.87);
    padding: 20px;
    margin-left: -20px;
    border: 4px solid rgba(24, 26, 32, 0.87);
}

.ring3_3 {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.87);
    padding: 30px;
    margin-left: -30px;
    border: 6px solid rgba(24, 26, 32, 0.87);
}

.ring3_4 {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.87);
    padding: 40px;
    margin-left: -40px;
    border: 8px solid rgba(24, 26, 32, 0.87);
}

.ring3_5 {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.87);
    padding: 50px;
    margin-left: -50px;
    border: 10px solid rgba(24, 26, 32, 0.87);
}

.ring3_6 {
    border-radius: 50%;
    height: 90px;
    width: 90px;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.87);
    padding: 60px;
    margin-left: -60px;
    border: 12px solid rgba(24, 26, 32, 0.87);
}